.app {
  margin-bottom: 26px;
}

.auth-form {
  margin: 20px 0;
}

.auth-form-footer {
  margin: 20px;
}

.univ-table {
  margin: 0 20px;
}

.univ-table-body {
  margin-bottom: 16px;
}

.univ-table-pagination {
  margin-bottom: 48px;
}

.univ-charts-title {
  margin-top: 12px;
}

.univ-charts-dropdown {
  margin-bottom: 8px;
}

.settings-footer {
  padding: 20px;
}

.divider-no-margin {
  margin: 0;
}
