body {
  background-color: #f7f7f7;
}

.app {
  margin-bottom: 26px;
}

.auth-form {
  margin: 20px 0;
}

.auth-form-footer {
  margin: 20px;
}

.univ-table-body {
  margin: 16px;
}

.adv-search-list-item {
  padding: 10px;
}

.adv-search-list-item-control {
  overflow: hidden;
  border: 1px solid #f2f2f2;
  border-radius: 6px;
}

.adv-search-list-item-add {
  padding: 0 10px 10px 10px;
}

.univ-table-pagination {
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 48px;
}

.univ-charts-title {
  margin-top: 12px;
}

.univ-charts-dropdown {
  margin-bottom: 8px;
}

.settings-footer {
  padding: 20px;
}

.about-updates-section {
  margin: 0 20px 20px 20px;
}

.about-updates-section li {
  list-style: circle;
  margin-left: 30px;
}

.about-updates-section .rv-typography--text {
  display: block;
}

.about-disclaimer-body {
  margin: 0 20px;
}

.about-disclaimer-body li {
  list-style: circle;
  margin-left: 20px;
  margin-bottom: 10px;
}

.about-disclaimer-body .rv-typography--text {
  display: block;
}

.divider-no-margin {
  margin: 0;
}
